.template {
  background: url("../img/bg-template.jpg") 50% 0 /cover no-repeat;
  overflow: hidden;
  padding: 200px 0;
  h2 {
    margin-bottom: 70px;
    line-height: 70px;
  }
  .btn {
    border: none;
    background-color: #17daa3;
  }
}