@media screen and (min-width: 360px) {
  p {
    height: 46px;
    font-size: 12px;
    line-height: 16px;
  }
  .about h3 {
    font-size: 14px;
  }
  .wrapper {
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
  }
  header {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 1%;
  }
  .menu {
    visibility: hidden;
  }
  .slogan {
    font-size: 2em;
  }
  .intro {
    font-size: 0.9em;
    height: 60px;
    line-height: 20px;
  }
  .btn {
    width: 25vw;
    line-height: 30px;
    padding: 0 5px;
    font-size: 0.7em;
  }
  .form-wrap {
    width: 300px;
    .btn {
      width: 110px;
    }
  }
  .feedback input,
  .sub-email {
    height: 25px;
    width: 260px;
    font-size: 11px;
  }
  .feedback textarea {
    height: 100px;
    width: 260px;
    font-size: 11px;
  }
}