@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova.woff') format('woff'),
       url('../fonts/ProximaNova.ttf')  format('truetype'),
       url('../fonts/ProximaNova.otf') format('opentype'),
       url('../fonts/ProximaNova.svg') format('svg'),
       url('../fonts/ProximaNova.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}